<header-section></header-section>
<section class="footer-fit">

<mat-tab-group class= "tabs-wrapper" dynamicHeight >
  <mat-tab label="Plans">
    <div class="product-form">
      <div *ngFor="let val of productInfo.result">
        <legend>{{ val.usagePlan }}</legend>
        <option *ngFor="let opt of val.usagePlan" value="{{ opt.planId }}">{{ opt.value }}</option>
      </div>
      
    </div>
  </mat-tab>
  <mat-tab label="Documentation">
    <p>No documentation is available yet</p>
  </mat-tab>
  <mat-tab label="Sample Data">
    <p>No sample data is available yet</p>
  </mat-tab>
  <mat-tab label="Discussion">
    <p>This is a common discussion form.Please do not share any sensitive information</p>
    <section class="discussion-form">
      <button mat-raised-button color="primary" (click)="openDialog()" >Add Topic</button>
      
    </section>
    <table class= "List">
      <tr>
        <th>Topic</th>
        <th>Category</th>
        <th>User</th>
        <th>Replies</th>
      </tr>
      <tr>
        <td><code>Disc 1</code></td>
        <td>Bug</td>
        <td>Admin</td>
        <td>0</td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>

</section>
<footer-section></footer-section>